<%- include('header',{titulo:'Crear Canción'}); %>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <% const estaCreando = typeof cancion === "undefined"%>


            <h1> <%= estaCreando ? 'Crear':'Actualizar' %> cancion</h1>

            <p><%= estaCreando ? 'Cree':'Actualice' %> una cancion</p>

            <!-- emmet -->
            <form action="/cancion/<%= estaCreando ? 'crear' : 'actualizar' %>-cancion/<%= estaCreando ? '' : cancion.idCancion %>"
                  method="POST">

                <div>
                    <label for="nombreCancion">Nombre</label>
                    <input id="nombreCancion"
                           name="nombreCancion"
                           type="text"
                           value="<%= estaCreando ? '' : cancion.nombreCancion %>"
                    >
                </div>
                <div>
                    <label for="anioCancion">Año</label>
                    <input id="anioCancion"
                           name="anioCancion"
                           type="text"
                           value="<%= estaCreando? '': cancion.anioCancion%>"
                    >
                </div>

                <button><%= estaCreando ? 'Crear' : 'Actualizar' %> cancion</button>

            </form>

            <a href="/cancion/inicio">
                <button>Regresar</button>
            </a>
        </div>

    </div>
</div>


<%- include('librerias')%>

<%- include('footer')%>